# Listen on :80 for any host (IP or domain). Required for setup/explorer to work by IP or domain.
:80 {
    handle /api/* {
      reverse_proxy backend:8888
    }

    handle_path /bull* {
      reverse_proxy backend:8888
    }

    # WebSocket traffic (Soketi)
    handle /app* {
      reverse_proxy soketi:6001 {
        header_up Upgrade "websocket"
        header_up Connection "Upgrade"
      }
    }

    handle {
      reverse_proxy frontend:8080
    }

    encode gzip
}
